/* ------------   My custom reset 	     --------------- */
*, *:after, *:before {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

ul, img, h1, h2, h3, p {
  margin: 0;
  padding: 0;
}

/* ------------   colors     	  		 --------------- */
/* ------------   settings   	  		 --------------- */
body {
  color: #4e4e4e;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

.title {
  text-align: center;
  font-size: 22px;
  line-height: 1.5;
  text-transform: uppercase;
}

.text {
  font-size: 16px;
  line-height: 1.5;
}

.text_blue {
  color: #317bc7;
}

.text_white {
  color: #fff;
}

.text_bold {
  font-weight: 700;
}

/* ------------   main   	  			 --------------- */
.main {
  background-image: url(../img/main-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff;
}
.main__wrap {
  padding: 100px;
  text-align: center;
}
.main__description {
  font-size: 20px;
  max-width: 850px;
  margin: 70px auto 50px;
}
.main__button {
  display: inline-block;
  width: 20%;
  padding: 15px 35px;
  border-radius: 50px;
  border: 3px solid #fff;
  margin: 5px;
  transition: 0.4s;
}
.main__button:hover {
  background-color: #317bc7;
  border-color: #317bc7;
}

.title-block {
  text-align: left;
  max-width: 800px;
  margin: 0 auto;
  position: relative;
}
.title-block__text {
  font-size: 24px;
  max-width: 380px;
}
.title-block__use {
  display: inline-block;
  background-color: #317bc7;
  font-size: 28px;
  letter-spacing: 15px;
  padding: 10px 60px;
  margin: 40px 0 20px;
}
.title-block__title {
  font-size: 120px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 10px;
  position: relative;
  margin-bottom: 150px;
}
.title-block__title:after {
  display: inline-block;
  content: url(../img/main-icon.png);
  position: absolute;
  right: 100px;
  bottom: 40px;
}
.title-block__place {
  text-transform: uppercase;
  font-size: 32px;
  padding-bottom: 20px;
  border-bottom: 7px solid #ffae46;
  position: absolute;
  left: 55%;
  bottom: -90px;
  transform: translateX(-50%);
  transition: 0.5s;
}
.title-block__place_hidden {
  transition: 0.5s;
  opacity: 0;
}
.title-block__place_visible {
  opacity: 1;
  transition: 0.5s;
}

/* ------------   calculate   	  		 --------------- */
.calculate {
  background-color: #f9fbff;
  padding: 40px 0;
}
.calculate__title {
  max-width: 760px;
  margin: 0 auto;
  margin-bottom: 20px;
}
.calculate__description {
  text-align: center;
  max-width: 450px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.calculator {
  max-width: 1200px;
  margin: 0 auto;
  box-shadow: 0px 0px 16px 3px rgba(0, 0, 0, 0.43);
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
}
.calculator__title {
  margin-bottom: 30px;
  margin-left: -80px;
}
.calculator__ranges {
  width: 50%;
  padding: 10px 25px;
}
.calculator__range {
  padding: 15px 0;
  border-bottom: 1px solid #ece7e7;
  position: relative;
}
.calculator__results {
  width: 50%;
  color: #fff;
  background-color: #273145;
}
.calculator__result {
  padding: 20px 20px 20px 100px;
}
.calculator__result:nth-child(2) {
  background-color: #28374f;
}

.range {
  -webkit-appearance: none;
  border: 1px solid #ece7e7;
  border-radius: 5px;
  width: 100%;
  height: 10px;
  background: -webkit-linear-gradient(left, #317bc7 0%, #317bc7 80%, #ece7e7 80%, #ece7e7 100%);
  outline: none;
}

.range::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 22px;
  width: 22px;
  background-color: #317bc7;
  border-radius: 50%;
  border: 3px solid #fff;
  box-shadow: 0px 0px 16px -3px rgba(0, 0, 0, 0.43);
  cursor: pointer;
}

.range::-moz-range-thumb {
  -moz-appearance: none;
  height: 22px;
  width: 22px;
  background-color: #317bc7;
  border-radius: 50%;
  border: 3px solid #fff;
  box-shadow: 0px 0px 16px -3px rgba(0, 0, 0, 0.43);
  cursor: pointer;
}

.range::-moz-range-track {
  -moz-appearance: none;
  border: 1px solid #ece7e7;
  border-radius: 5px;
  width: 100%;
  height: 10px;
  background: -moz-linear-gradient(left, #317bc7 0%, #317bc7 80%, #ece7e7 80%, #ece7e7 100%);
  outline: none;
}

#range-2 {
  background: -webkit-linear-gradient(left, #ffae46 0%, #ffae46 60%, #ece7e7 60%, #ece7e7 100%);
}

#range-2::-webkit-slider-thumb {
  background-color: #ffae46;
}

#range-2::-moz-range-thumb {
  border: 3px solid #ffae46;
}

#range-2::-moz-range-track {
  background: -moz-linear-gradient(left, #ffae46 0%, #ffae46 60%, #ece7e7 60%, #ece7e7 100%);
}

#range-3 {
  background: -webkit-linear-gradient(left, #33c964 0%, #33c964 80%, #ece7e7 80%, #ece7e7 100%);
}

#range-3::-webkit-slider-thumb {
  background-color: #33c964;
}

#range-3::-moz-range-thumb {
  border: 3px solid #33c964;
}

#range-3::-moz-range-track {
  background: -moz-linear-gradient(left, #33c964 0%, #33c964 80%, #ece7e7 80%, #ece7e7 100%);
}

.range-text {
  display: inline-block;
  width: 120px;
  min-height: 25px;
  padding: 3px 20px 3px 20px;
  margin: 20px 0 10px;
  font-weight: 700;
  border: 2px solid #ece7e7;
  outline: 0;
  background-color: #fff;
}

.range__min-max {
  display: flex;
  justify-content: space-between;
  margin: 15px 0;
}

.range-number {
  display: inline-block;
  width: 80px;
  height: 20px;
}

.result-button {
  background-color: #317bc7;
  display: inline-block;
  margin: auto;
  padding: 15px 40px;
  margin-left: 120px;
}
.result-button:hover {
  background-color: #1b528a;
}
.result__number {
  display: inline-block;
  width: 120px;
  min-height: 25px;
  background-color: #fff;
  color: #4e4e4e;
  font-weight: 700;
  padding: 10px 20px 10px 20px;
  margin: 20px 15px 30px 0;
  position: relative;
}
.result__number:before {
  display: inline-block;
  content: "1";
  position: absolute;
  background-color: #317bc7;
  padding: 4px 16px;
  border-radius: 50%;
  color: #fff;
  font-size: 26px;
  border: 8px solid #ece7e7;
  top: -30px;
  left: -80px;
}

#result__number_2:before {
  background-color: #ffae46;
  content: "2";
}

#result__number_3:before {
  background-color: #33c964;
  content: "3";
}

/* ------------   contact   	  		 --------------- */
.contact {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.socials {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.socials__descriptions {
  text-align: center;
}
.socials__title {
  margin-bottom: 20px;
}

.social-buttons {
  display: flex;
  justify-content: space-between;
  max-width: 400px;
  margin: 20px auto;
  padding: 10px 20px;
  box-shadow: 0px 0px 34px -10px rgba(0, 0, 0, 0.28);
  border-radius: 50px;
}

.social-button {
  text-align: center;
  width: 90px;
  cursor: pointer;
  transition: 0.4s;
  position: relative;
  top: 0;
}
.social-button:hover {
  top: -5px;
}
.social-button__text {
  text-align: center;
}

.phone-form {
  width: 50%;
  background-color: #f9fbff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 0;
}
.phone-form__form {
  margin-top: 50px;
}
.phone-form__title {
  color: #273145;
}

.form {
  display: flex;
  flex-direction: column;
}
.form__input {
  padding: 23px 33px;
  border: 2px solid #ece7e7;
  border-radius: 40px;
  width: 400px;
  margin-bottom: 20px;
  outline: 0;
}
.form__input:focus {
  border-color: #317bc7;
}
.form__submit {
  padding: 23px 33px;
  border: 2px solid #ece7e7;
  border-radius: 40px;
  width: 400px;
  color: #fff;
  text-transform: uppercase;
  background-color: #273145;
  margin-top: 20px;
  outline: 0;
}
.form__submit:focus {
  border-color: #317bc7;
}

/* ------------   how-works   	  		 --------------- */
.how-works {
  background-color: #317bc7;
  position: relative;
  padding: 30px 0;
  color: #fff;
}
.how-works__title {
  color: #fff;
  font-size: 36px;
  position: relative;
}
.how-works__description {
  max-width: 450px;
  margin: 0 auto;
  border-radius: 10px;
  padding: 15px 15px 15px 50px;
  box-shadow: 0px 0px 34px -10px rgba(0, 0, 0, 0.28);
  background-color: #317bc7;
  position: relative;
  z-index: 5;
  margin-bottom: 70px;
}
.how-works__description:before {
  display: inline-block;
  content: "1";
  position: absolute;
  background-color: #fff;
  padding: 4px 16px;
  border-radius: 50%;
  color: #317bc7;
  font-size: 26px;
  border: 8px solid #ece7e7;
  top: 30px;
  left: -30px;
}
.how-works__circle {
  position: relative;
  z-index: 2;
  overflow: hidden;
  padding: 40px 0;
}
.how-works__circle:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url(../img/circle-img.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.how-works__circle:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url(../img/circle-bg.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  z-index: -1;
  animation: circle-animated 80s linear infinite;
}
.how-works__places {
  display: flex;
  justify-content: space-between;
  max-width: 900px;
  margin: 0 auto 80px;
}
.how-works__places:nth-child(3) {
  max-width: 1050px;
}
.how-works__places:nth-child(5) {
  justify-content: center;
}
.how-works__place {
  background-color: rgba(39, 49, 69, 0.15);
  padding: 15px 50px 15px 90px;
  border-radius: 30px;
  position: relative;
}
.how-works__place:before {
  position: absolute;
  content: url(../img/place1.png);
  left: 0;
  top: 0;
}

#how-works__place-2:before {
  content: url(../img/place2.png);
}

#how-works__place-3:before {
  content: url(../img/place3.png);
}

#how-works__place-4:before {
  content: url(../img/place4.png);
}

#how-works__place-5:before {
  content: url(../img/place5.png);
}

#how-works__place-6:before {
  content: url(../img/place6.png);
}

#how-works__place-7:before {
  content: url(../img/place7.png);
}

@keyframes circle-animated {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*# sourceMappingURL=style.css.map */
